@charset "utf-8";

/* Estilos para resumenXML.html*/

body {
    font-size: 1.2em;
    margin: 0 auto;
    width: 80%;
}

.centrado {
    text-align: ceenter;
}

#marcadoXML {
    background-color: pink;
    font-family: arial sans-serif;
    margin-left: 20%;
}

h1 {
    background-color: burlywood;
    border-radius: 2em;
    color: green;
    line-height: 2em;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    background-color: beige;
    border-radius: 2em;
    line-height: 2em;
    padding-left: 5%;
}

p {
    font-size: 1.3em;
    text-align: justify;
}

abbr {
    background-color: yellow;
}

pre {
    background: #eee;
    border: 5px double silver;
    font-family: monospace;
    font-size: 1.3em;
    line-height: 1.5em;
    margin-right: 15%;
    overflow: auto;
    padding: 3px 5px;
}

caption {
    background-color: aliceblue;
    font-size: 1.3em;
    font-weight: bolder;
    padding-bottom: 15px;
    padding-top: 15px;
}

table {
    border-collapse: collapse;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}

table,
th,
td {
    border: 1px solid black;
    text-align: center;
}

th,
td {
    height: 2em;
}

tr:nth-child(even) {
    background-color: grey;
}

tr:hover {
    background-color: cyan;
}

a:hover {
    background-color: blue;
}

ol {
    background-color: lemonchiffon;
   
    list-style-type: decimal-leading-zero;
    margin-left: 15%;
    margin-right: 15%;
    text-align: left;
}

li {
    line-height: 1.6em;
}

ul {
    list-style-type: square;
}

ul ul {
    list-style-type: lower-alpha;
}

footer p {
    background-color: lightblue;
    font-size: 0.9em;
    margin-top: 20px;
    padding: 0.5em;
}
